*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    
}
body{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    flex-direction: row;
    background-color: rgb(31, 31, 31);
   
}

.section{
    display: flex;
    justify-content: center;
    

    background-color: rgba(192, 192, 192, 0.295);
    
    width: 350px;
    height: 400px;

    border: 1px black solid;
    border-radius: 5px;

    box-shadow: 0px 10px 40px 1px  rgb(17, 10, 51);
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 13px;

}

.in{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}
.in input{
    border: 1px black solid;
    border-radius: 2px;
    width: 300px;
}

.buttons{
    display: flex;
    
    justify-content: center;
}
.buttons input{
    margin-top: 20px;
    margin-right: 3px; 
    width: 100px;

    background-color: rgb(185, 185, 185);
    border: 1 rgb(0, 0, 0) solid;
    border-radius: 2px;
    
    font-size: 20px;
}   